* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
  
}
  
html{
    scroll-behavior: smooth;  
    background-color: rgb(113, 189, 240);
}
  
a {
    text-decoration: none;
    color: inherit;
}
  
body {
    height: 100vh;
    display: grid;
    font-family: 'Source Sans Pro', sans-serif;
}
  
#nav #menuHam{
    display: none;
}
  
header {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #11B5F6;
}
  
.social-menu{
    display: none;
}
  
header .fa{
    display: block;
}
  
  
nav>ul {
    display: flex;
}
  
nav>ul a {
    display: block;
    padding: 35px 20px;
}
  
header a:hover{
    color: rgb(113, 189, 240);;
    transform: scale(1.05);
}
  
.header-profile {
    display: flex;
    align-items: center;
    font-size: 17px;
}
  
form {
    width: 100vh;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

form h4 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
}

label {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    display: block;
}

input[type="file"] {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

input[type="file"]:focus {
    outline: none;
    border-color: #007bff;
}

.btn {
    text-align: center;
}

.btn a {
    background: #333;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    display: inline-block;
    background-color: rgb(113, 189, 240);
}

.btn a:hover {
    background: #b8b6b6;
}

footer {
    background: rgb(113, 189, 240);
    color: black;
    padding: 0px 6rem;
}
  
.footer-top {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;
}

.footer-top .footer-top-content {
  width: 40%;
}

.footer-top h3 {
  margin-bottom: 1.6rem;
}

.footer-top p {
  color: #eee;
  font-size: 0.9rem;
  line-height: 1.7;
}

.footer-top .social-media i {
  font-size: 1.6rem;
  padding: 0rem 5px;
}

.footer-bottom {
  border-top: 1px solid #444;
  display: flex;
  justify-content: center;
  padding: 2.6rem 0;
  font-size: 0.7rem;
  background-color: rgb(113, 189, 240);;
}
.footer-bottom strong {
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
html {
    font-size: 13px;
    width: 100%;
}

main{
    width: 100%;
    background-image: url(/assets/large-triangles.png);
}

.subtitle {
    margin: 0px 0px;
}
  
header {
    padding: 0px 2rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#menu{
    display: block;
    position: absolute;
    width: 100%;
    background-color: white;
    right: 0px;
    height: 0px;
    z-index: 1000;
    transition: .6s ;
    visibility: hidden;
    overflow-y: hidden;
}

#menu a {
    border-bottom: 2px solid #737373 ;
}

#nav #menuHam{
    display: block;
    background: #11B5F6;
    border: none;
}

#nav.active #menu{
    visibility: visible;
    height: 100vh;
    overflow-y: auto;
}

#menu .social-menu{
    display: flex;
    justify-content: center;   
}

header .fa {
    display: block;
    font-size: 1.8rem;
    padding: 2.2rem 2rem;
    align-self: center;
    cursor: pointer;
}

.nav-control {
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.nav-number{
    border-radius: 20px;
    background-color: #fff;
    padding: 10px 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: rgb(113, 189, 240);
    width: fit-content;
}

.nav-info {
    border-radius: 5px;
    background-color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem; 
}

.page-number {
    font-size: 11px;
    font-weight: bold;
    color: #333;
}

.page-info {
    font-size: 16px;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.containerLoc{
    width: 100%;
    padding: 0px;
}

form{
    padding: 5rem 2rem;
    width: calc(100% - 4rem);
    margin-top: 9rem;
    margin-bottom: 3rem;
    height: calc(100% - 12rem);
    background-color: white;
    border-radius: 10px;
    z-index: 1;
}

label {
    font-size: 13px;
}
  
  input[type="file"] {
    font-size: 12px;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
}

footer {
    display: none;
}
    